<h1>User Detail</h1>>
<%= render 'layouts/messages'%>


  <div class= "card card-header results-block">
    <table class ="col-md-12">
      <tbody>
        
        <tr>
          <td><strong>Email:</strong><%=@user.email%></td>
          <td><strong>Name:</strong><%=@user.full_name%></td>
          <td></td>
          <%if current_user.not_friend_with?(@user.id)%>
          <td><%= link_to "Follow Friend", friendships_path(friend: @user), class: "btn btn-success", method: :post%></td>
          <%else%>
         <td><span class = "badge badge-secondary">
           Already Friends
         </span></td>
          <%end%>
        </tr>
      
      </tbody>
    </table>     
  </div>

  <%if !@tracked_stocks.empty?%>
  <%=render 'stocks/list'%>
  <%else%>
  <p class ="lead">This user is not tracking any Stocks</p>
<%end%>
